.menu {
  background: url("../img/mainfon/bg5.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.menu-acco {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  @extend %clearfix;
}

.menu-acco__item {
  float: left;
  height: 100%;
  @extend %clearfix;

  &.active {
    .menu-acco__trigger-text {
      color: #f9b43b;
    }
  }
}

.menu-acco__trigger {
  height: 100%;
  display: block;
  width: 80px;
  float: left;
}

.menu-acco__trigger {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.menu-acco__trigger-text {
  @include gagalin;
  font-size: 40px;
  position: absolute;
  top: 50%;
  height: 80px;
  margin-top: -40px;
  white-space: nowrap;
  width: 650px;
  color: #FFFFFF;
  left: 50%;
  margin-left: -316px;
  transform: rotate(-90deg);
  text-align: center;
}

.menu-acco__content {
  background: rgba(47, 50, 52, 0.93);
  float: left;
  height: 100%;
  color: #FFFFFF;
  overflow: hidden;
  width: 0;
}

.menu-acco__text {
  width: 550px;
  padding: 20px;
}
